* {
    margin: 0;
    padding: 0;
    /* font-family: "Imaginary Friend BB"; */
    /* border: 2px solid red; */
}

@font-face {
    font-family: 'Imaginary Friend BB'; 
    src: url('/fonts/ImaginaryFriendBB/IFBB.ttf');
}

@font-face {
    font-family: 'Cloister Black'; 
    src: url('/fonts/CloisterBlack/CloisterBlack.ttf');
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: hsl(240, 3%, 7%);
    /* font-family: 'Imaginary Friend BB'; */
}

.head {
    height: 7.5vh;
    background-color: black;
    border-bottom: solid hsl(240, 2%, 23%) 1px;
}

.instr {
    position: absolute;
    top: 2.5vh;
    cursor: pointer;
    float: left;
    margin-left: 0.5em;
    background-color: transparent;
    border: none;
    font-size: 2.5vh;
    color: white;
    user-select: none;
}

.settings {
    position: absolute;
    top: 2.5vh;
    right: 0%;
    cursor: pointer;
    margin-right: 0.5em;
    background-color: transparent;
    justify-content: center;
    border: none;
    font-size: 2.5vh;
    color: white;
    user-select: none;
}

.title {
    font-family: 'Cloister Black';
    font-size: 5vh;
    display: flex;
    height: 7.5vh;
    align-items: center;
    justify-content: center;
    color: white;
    /* border-bottom: solid hsl(240, 2%, 23%) 1px; */
}

.keyboard {
    height: 30%;
    display: grid;
    align-content: end;
    grid-template-columns: repeat(20, minmax(0.5em, 1.25em));
    grid-auto-rows: min(3.75em, 30%);
    /* grid-auto-rows: minmax(1em, 33%); */
    gap: .35em;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.key {
    font-size: 1.25em;
    font-family: "Imaginary Friend BB";
    grid-column: span 2;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(
        var(--hue, 200),
        var(--saturation, 1%),
        calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
    );
    color: white;
    fill: white;
    text-transform: uppercase;
    border-radius: .25em;
    cursor: pointer;
    user-select: none;
}

.key.large {
    grid-column: span 3;
}

.key > svg {
    width: 1.25em;
    height: 1.25em;
}

.key:hover, .key:focus {
    --lightness-offset: 10%;
}

.key.wrong {
    --lightness: 23%
}

.key.wrong-location {
    --hue: 49;
    --saturation: 51%;
    --lightness: 47%
}

.key.correct {
    --hue: 115;
    --saturation: 29%;
    --lightness: 43%
}

.guess-grid {
    height: 60%;
    display: grid;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    grid-template-columns: repeat(5, min(4em, 8vh));
    grid-template-rows: repeat(6, min(4em, 8vh)); 
    gap: .3em;
    margin-bottom: 1%;
    margin-top: 1%;
 }
 
 .tile {
     font-size: 2.25em;
     font-family: "Imaginary Friend BB";
     color: white;
     border: .075em solid hsl(240, 2%, 23%);
     text-transform: uppercase;
     font-weight: bold;
     display: flex;
     justify-content: center;
     align-items: center;
     user-select: none;
     transition: transform 250ms linear;
 }

 .tile[data-state="active"] {
    border-color: hsl(200, 1%, 34%);
}

.tile[data-state="wrong"] {
    border: none;
    background-color: hsl(240, 2%, 23%);
}

.tile[data-state="wrong-location"] {border: none;
    border: none;
    background-color: hsl(49, 51%, 47%);
}

.tile[data-state="correct"] {
    border: none;
    background-color: hsl(115, 29%, 43%);
}

.tile.flip {
    transform: rotateX(90deg);
}

.tile.shake {
    animation: shake 300ms ease-in-out;
}

@keyframes shake {
    10% {
        transform: translateX(-5%);
    }

    30% {
        transform: translateX(5%);
    }

    50% {
        transform: translateX(-7.5%);
    }

    70% {
        transform: translateX(7.5%);
    }

    90% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(0);
    }
}

.tile.dance {
    animation: dance 500ms ease-in-out;
}

@keyframes dance {
    20% {
        transform: translateY(-50%);
    }  
    
    40% {
        transform: translateY(5%);
    }  
    
    60% {
        transform: translateY(-25%);
    }  
    
    80% {
        transform: translateY(2.5%);
    }  
    
    90% {
        transform: translateY(-5%);
    }  
    
    100% {
        transform: translateY(0);
    }
}

.alert-container {
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert {
    pointer-events: none;
    background-color: white;
    padding: 0.75em;
    border-radius: .25em;
    font-family: "Imaginary Friend BB";
    font-weight: bold;
    font-size: 1.25em;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
    margin-bottom: .5em;
}

.alert:last-child {
    margin-bottom: 0;
}

.alert.hide {
    opacity: 0;
}

.sidemenu {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: hsl(240, 3%, 7%);
    text-align: left;
    text-transform: none;
    /* visibility: hidden; */
    opacity: 1;
}

.menucontents {
    margin: auto;
    width: min(400px, 100%);
    color: white;
}

.instructions-header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 2%;
}

.text {
    margin-left: 5%;
    margin-right: 5%;
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
}

.exampleCell {
    width: 1.25em;
    height: 1.25em;
    display: inline-block;
    margin: 1px;
    padding: 1px;
    font-size: 2em;
    font-family: 'Imaginary Friend BB';
    font-weight: bold;
    text-align: center;
    border: .1em solid hsl(200, 1%, 34%);;
}

.xbuttonsidemenu {
    position: absolute;
    /* top: 1%; */
    right: calc(50% - min(200px, 50%));
    margin-right: 0.65em;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
}

a {
    color: lightskyblue;
}

@keyframes hide {
    from {opacity: 1;}
    to {opacity: 0; visibility: hidden;}
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1; visibility: visible;}
}
