* {
    margin: 0;
    padding: 0;
    /* font-family: "Imaginary Friend BB"; */
}

@font-face {
    font-family: 'Imaginary Friend BB'; 
    src: url('/fonts/ImaginaryFriendBB/IFBB.ttf');
}

@font-face {
    font-family: 'Cloister Black'; 
    src: url('/fonts/CloisterBlack/CloisterBlack.ttf');
}

:root {
    --bg-color: hsl(240, 3%, 7%);
    --text-color-primary: white;
    --text-color-inverse: black;
    --gray-shade: hsl(240, 2%, 23%);
    --key: hsl(240, 1%, 51%);
    --wrong: hsl(240, 2%, 23%);
    --icon: 1;
    --active-tile: hsl(200, 1%, 34%);
    --green: #538d4e;
    --yellow: #b59f3b;
    --fade: rgba(0, 0, 0, 0.5);
    --shadow: hsl(240, 3%, 14%);
    /* --text-color-secondary: hsl(200, 1%, 56%); */
   
}

[data-theme="light"] {
    --bg-color:white;
    --text-color-primary: black;
    --text-color-inverse: white;
    --gray-shade: #D8D8D8;
    --key: #D8D8D8;
    --wrong: #787c7e;
    --icon: 0;
    --active-tile: #878a8c;
    --green: #6aaa64;
    --yellow: #c9b458;
    --fade: rgba(255, 255, 255, 0.5);
    --shadow: #787c7e;
    /* --text-color-secondary: hsl(200, 1%, 56%); */
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    /* font-family: 'Imaginary Friend BB'; */
}

.head {
    height: 50px;
    border-bottom: solid var(--gray-shade) 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 1em;
    width: 5em;
}

.head-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-left: 1em;
    width: 5em;
}

.instr {
    /* position: absolute;
    top: 2.5vh; */
    /* float: left; */
    cursor: pointer;
    /* margin-left: 1em; */
    background-color: transparent;
    filter: invert(var(--icon));
    border: none;
    /* font-size: em; */
    width: 25px;
    color: var(--text-color-primary);
    user-select: none;
}

.settings {
    /* position: absolute;
    top: 2.5vh; */
    /* right: 0%; */
    cursor: pointer;
    /* margin-right: 1em; */
    background-color: transparent;
    filter: invert(var(--icon));
    border: none;
    width: 21px;
    /* font-size: 1.5em; */
    color: var(--text-color-primary);
    user-select: none;
}

.stats {
    cursor: pointer;
    filter: invert(var(--icon));
    width: 25px;
    margin-right: 0.6em;
}

.title {
    font-family: 'Cloister Black';
    font-size: 2.25em;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: var(--text-color-primary);
    /* border-bottom: solid hsl(240, 2%, 23%) 1px; */
}

.keyboard {
    height: min(11.95em, 30%);
    /* height: 30%; */
    display: grid;
    align-content: end;
    grid-template-columns: repeat(20, minmax(0.5em, 1.25em));
    grid-auto-rows: min(3.75em, 31%);
    /* grid-auto-rows: minmax(1em, 33%); */
    gap: .35em;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: min(10px, 2%);
}

.key {
    font-size: 1.1em;
    font-family: "Imaginary Friend BB";
    grid-column: span 2;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: hsl(
        var(--hue, 200),
        var(--saturation, 1%),
        calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
    ); */
    background-color: var(--key);
    color: var(--text-color-primary);
    fill: var(--text-color-primary);
    text-transform: uppercase;
    border-radius: .25em;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
}

.key.large {
    grid-column: span 3;
}

.del {
    /* fill: var(--text-color-primary); */
    stroke: purple;
    background-color: transparent;
    width: 1.75em;
    filter: invert(calc(1 - var(--icon)))
}

.key:hover, .key:focus {
    --lightness-offset: 10%;
}

.key.wrong {
    background-color: var(--wrong);
    color: white;
}

.key.wrong-location {
    background-color: var(--yellow);
    color: white;
}

.key.correct {
    background-color: var(--green);
    color: white;
}

.guess-grid {
    height: 60%;
    display: grid;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    grid-template-columns: repeat(5, min(4em, 8vh, 16vw));
    grid-template-rows: repeat(6, min(4em, 8vh, 16vw));
    gap: .3em;
    margin-bottom: 1%;
    margin-top: 1%;
}
 
.tile {
     font-size: 2.25em;
     font-family: "Imaginary Friend BB";
     color: var(--text-color-primary);
     border: .075em solid var(--gray-shade);
     text-transform: uppercase;
     font-weight: bold;
     display: flex;
     justify-content: center;
     align-items: center;
     user-select: none;
     transition: transform 250ms linear;
 }

.tile[data-state="active"] {
    border-color: var(--active-tile);
}

.tile[data-state="wrong"] {
    color: white;
    border: none;
    background-color: var(--wrong);
}

.tile[data-state="wrong-location"] {
    color: white;
    border: none;
    background-color: var(--yellow);
}

.tile[data-state="correct"] {
    color: white;
    border: none;
    background-color: var(--green);
}

.tile.flip {
    transform: rotateX(90deg);
}

.tile.shake {
    animation: shake 300ms ease-in-out;
}

@keyframes shake {
    10% {
        transform: translateX(-5%);
    }

    30% {
        transform: translateX(5%);
    }

    50% {
        transform: translateX(-7.5%);
    }

    70% {
        transform: translateX(7.5%);
    }

    90% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(0);
    }
}

.tile.dance {
    animation: dance 500ms ease-in-out;
}

@keyframes dance {
    20% {
        transform: translateY(-50%);
    }  
    
    40% {
        transform: translateY(5%);
    }  
    
    60% {
        transform: translateY(-25%);
    }  
    
    80% {
        transform: translateY(2.5%);
    }  
    
    90% {
        transform: translateY(-5%);
    }  
    
    100% {
        transform: translateY(0);
    }
}

.alert-container {
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alert {
    pointer-events: none;
    background-color: var(--text-color-primary);
    color: var(--text-color-inverse);
    padding: 0.75em;
    border-radius: .25em;
    font-family: "Imaginary Friend BB";
    font-weight: bold;
    font-size: 1.25em;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
    margin-bottom: .5em;
}

.alert:last-child {
    margin-bottom: 0;
}

.alert.hide {
    opacity: 0;
}

.sidemenu {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    text-align: left;
    text-transform: none;
    /* visibility: hidden; */
    opacity: 1;
}

.sidemenux {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    text-align: left;
    text-transform: none;
    visibility: hidden;
    opacity: 1;
}

.popupmenu {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
    visibility: hidden;
    background-color: var(--fade);
}

.popupmenucontents {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 auto; */
    /* margin-top: 25vh; */
    width: min(500px, 90%);
    /* height: 50vh; */
    /* color: blue; */
    /* background-color:var(--active-tile); */
    background-color: var(--bg-color);
    box-shadow: 0 4px 25px var(--shadow);
    border-radius: 0.5em;
    color: var(--text-color-primary)
}

.stats-row {
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    /* border: 2px solid red; */
}

.stats-row-item {
    font-size: 0.75em;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blue; */
    text-align: center;
}

.bottom-row {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    width: 90%;
    height: 100%;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 49%;
    /* border: 2px solid red; */
}

.ticker {
    font-size: 2em;
    margin-top: 5px;
    /* margin-bottom: 0.8em; */
}

.vertical-line {
    /* border: 2px solid blue; */
    width: 1px;
    height: 5em;
    /* color: black; */
    background-color: var(--text-color-primary)
    /* border: 2px solid blue; */
}

.share-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 3.5em;
}

.share {
    cursor: pointer;
    width: 70%;
    height: 3.5em;
    background-color: var(--green);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
}

.share > div {
    width: 0.5em;
}

.share-icon {
    filter: invert(1);
    width: 20px;
}

.graph {
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px solid red; */
    width: 70%;
    display: flex;
    flex-direction: row;
}

.graph-text > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 0.9em;
    height: 1.4em;
    /* border: 2px solid blue; */
}

.graph-bars {
    width: 100%;
    /* border: solid green 2px; */
}

.bar {
    font-weight: bold;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 0.9em;
    height: 1.4em;
    width: 100%;
    background-color: var(--wrong);
    color: white;
    text-align: right;
    margin-top: 5px;
    /* border: 2px solid red; */
}

.bar-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.4em;
    /* width: 100px; */
    width: 25px;
    /* border: 2px solid blue; */
    /* border: 2px solid blue; */
}

.menucontents {
    margin: auto;
    width: min(500px, 100%);
    color: var(--text-color-primary);
}

.instructions-header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 2%;
}

.text {
    margin-left: 5%;
    margin-right: 5%;
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid var(--gray-shade);
}

.row {
    /* font-size: .8em; */
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    border-bottom: 1px solid var(--gray-shade);
    margin-left: 5%;
    margin-right: 5%;
}

.exampleCell {
    width: 1.25em;
    height: 1.25em;
    display: inline-block;
    /* color: var(--text-color-primary); */
    margin: 1px;
    padding: 1px;
    font-size: 2em;
    font-family: 'Imaginary Friend BB';
    font-weight: bold;
    text-align: center;
    border: .1em solid var(--active-tile);
}

.instrG {
    width: 1.25em;
    height: 1.25em;
    display: inline-block;
    /* color: var(--text-color-primary); */
    margin: 1px;
    padding: 1px;
    font-size: 2em;
    font-family: 'Imaginary Friend BB';
    font-weight: bold;
    text-align: center;
    border: .1em solid var(--green);
    background-color: var(--green);
    color: white;
}

.instrY {
    width: 1.25em;
    height: 1.25em;
    display: inline-block;
    /* color: var(--text-color-primary); */
    margin: 1px;
    padding: 1px;
    font-size: 2em;
    font-family: 'Imaginary Friend BB';
    font-weight: bold;
    text-align: center;
    border: .1em solid var(--yellow);
    background-color: var(--yellow);
    color: white;
}

.instrGr {
    width: 1.25em;
    height: 1.25em;
    display: inline-block;
    /* color: var(--text-color-primary); */
    margin: 1px;
    padding: 1px;
    font-size: 2em;
    font-family: 'Imaginary Friend BB';
    font-weight: bold;
    text-align: center;
    border: .1em solid var(--active-tile);
    background-color: var(--active-tile);
    color: white;
}

.xbuttonsidemenu {
    position: absolute;
    /* top: 1%; */
    right: calc(50% - min(225px, 45%));
    /* margin-right: 2%; */
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: var(--text-color-primary);
}

.xbuttonstats {
    position: absolute;
    right: 2%;
    top: 2%;
    /* top: 26vh; */
    /* right: calc(50% - min(235px, 42.5%)); */
    /* transform: translate(-50%, -50%); */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: var(--text-color-primary);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.number {
    position: absolute;
    right: calc(50% - min(225px, 45%));
    top: 97%;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(200, 1%, 56%);
    font-size: 0.75em;
}

a {
    color: hsl(200, 1%, 42%);
}

@keyframes hide {
    from {opacity: 1; visibility: visible;}
    to {opacity: 0; visibility: hidden;}
}

@keyframes show {
    from {opacity: 0; visibility: hidden;}
    to {opacity: 1; visibility: visible;}
}