* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Imaginary Friend BB'; 
    src: url('/fonts/ImaginaryFriendBB/IFBB.ttf');
}

html, body {
    height: 100%;
    font-family: 'Imaginary Friend BB';
}

.keyboard {
    height: 198px;
    display: flex;
    justify-content: center;
    width: 100;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.key {
    font-family: inherit;
    font-weight: bold;
    flex-basis: 0;
    border: 0;
    padding: 0;
    background-color: hsl(
        var(--hue, 200),
        var(--saturation, 1%),
        calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
    );
    color: white;
    fill: white;
    flex-grow: 1;
    text-transform: uppercase;
    border-radius: .25em;
    margin-right: 6px;
    cursor: pointer;
    user-select: none;
}

.key.large {
    flex-grow: 1.5;
}

.key > svg {
    width: 1.75em;
    height: 1.75em;
}

.key:hover, .key:focus {
    --lightness-offset: 10%;
}

.key.wrong {
    --lightness: 23%
}

.key.wrong-location {
    --hue: 49;
    --saturation: 51%;
    --lightness: 47%
}

.key.correct {
    --hue: 115;
    --saturation: 29%;
    --lightness: 43%
}

